<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
  <title>Narrow Down Your Menu Choice</title>
  <meta charset="utf-8">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
  <div class="container" ng-controller="NarrowItDownController as menu">
  <h1>Narrow Down Your Chinese Menu Choice</h1>

  <div >
  <input type="text" placeholder="search term" class="form-control" ng-model="menu.searchTerm">
  </div>
  <div >
  <button class="btn btn-primary" ng-click="menu.getData();">Narrow It Down For Me!</button>

  </div>
  <ol>
  <br/><br/>
  <li ng-repeat="cat in menu.foundItems" ng-if="menu.noItem==false">

  <found-items></found-items>
  <button class="btn btn-primary" ng-click="menu.removeItem($index)">Don't want this one!</button>
  </li>
  </ol>

	<div ng-if="menu.noItem==true">Nothing Found!</div>
  <!-- Bonus loader (see Bonus section of the assignment) -->
  <!--items-loader-indicator></items-loader-indicator>

  <!-- found-items should be implemented as a component -->


  </div>

</body>
</html>
